* {
    box-sizing: border-box;
    font-family: "Goudy Bookletter 1911", sans-serif;;
    margin: 0;
}


body {
    background-color: rgb(145, 58, 14);
}

header { 
    text-align: right;
    background-color: rgb(25, 19, 25);
    padding: 20px;
    position: fixed; 
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    border-bottom: 10px solid rgba(143, 97, 128, 0.668);
}

.links {
    display: inline; 
    text-decoration: none;
    color: rgb(195, 107, 49);
    font-size: 24px; 
    padding: 15px;
}

main {
    display: block;
    margin: 0;
    padding: 70px 0;
    width: 100%;
}

h1 {
    text-align: center;
    color: rgba(143, 97, 128, 0.668);
    text-shadow: 0 0 2px rgb(25, 19, 25);
    position: absolute;
    left: calc(50% - 200px);
    top: 100px;
    font-size: 50px;

}

img {
    width: 100%; 
}

p {
    font-size: 100px;
    color: rgb(213, 99, 41);
    text-shadow: 0 0 5px rgb(158, 62, 14);
    position: absolute;
    left: calc(50% - 270px);
    top: 400px;
}

.contact-container {
    width: 100%;
    text-align: center;
    color: rgb(250, 135, 78);
}

h2 {
    padding: 20px 0; 
}

form {
    border: 5px dotted rgb(250, 135, 78);
    border-radius: 20px;
    width: 500px;
    margin: auto;
    padding: 10px
}

ul {
    list-style: none;
    padding: 0; 
}

li {
    padding: 5px 0; 
}

input, 
textarea {
  box-sizing: border-box;
  width: 350px;
  border: 1px solid rgb(25, 19, 25);
}

button {
    height: 40px;
    width: 120px;
    background-color: rgb(25, 19, 25);
    color: rgba(143, 97, 128, 0.668);
    text-shadow: 0 0 1px rgb(244, 230, 223);
  }